@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: var(--title-color);
  letter-spacing: 1px;
}

.secondary-title {
  color: var(--title-color);

  @apply text-3xl text-center;
}

.third-title,
h2 {
  color: var(--title-color);

  @apply text-2xl font-semibold;
}

h3 {
  color: var(--title-color);

  @apply text-lg font-semibold;
}

.container {
  margin: 0 auto;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s linear;
}
