article > .nuxt-content {
  font-size: 1.125rem;
}

.nuxt-content h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.nuxt-content .vue {
  background-color: theme('colors.green-main.400');
  color: white;
  padding: 0 3px;
}

.nuxt-content .code {
  background-color: theme('colors.blue-main.750');
  color: theme('colors.gray-main.950');
  padding: 0 3px;
}

.dark-mode .nuxt-content .code {
  background-color: theme('colors.blue-main.400');
}

.nuxt-content .nuxt-content-highlight pre {
  border-radius: 5px;
  font-size: 0.875rem;
  margin: 1.5rem 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 32px 32px 0,
    rgba(0, 0, 0, 0.15) 0 16px 16px 0, rgba(0, 0, 0, 0.15) 0 8px 8px 0,
    rgba(0, 0, 0, 0.15) 0 4px 4px 0;
}

.nuxt-content .yt-video {
  margin: 20px auto;
  max-width: 450px;
}
